{{#each dbArticle.notes}}
<div class="card">
    <div class="card-body">
        <p class="card-text">{{text}}</p>
        <button class="btn-danger" class="delete-note" data-id="{{_id}}">x</button>
    </div>
</div>
{{/each}}